# 1. 3월 2일 수업: python 기본 문법 강의

## - 1) 변수 및 타입

In [54]:
a=5

이름 = "홍길동"

In [55]:
type(이름)

str

In [56]:
print(이름) #일반적인 출력용
display(이름) #디버깅

홍길동

'홍길동'

In [7]:
C = 10000 #조
print(C)
C = C*10000 #경
print(C)
C = C*10000 #해
print(C)
C = C*C
print(C)

10000
100000000
1000000000000
1000000000000000000000000

In [8]:
a = 100
b = 0b100 #2진수
print(b)

4

In [12]:
bool(-1), bool(" ") #공백문자

(True, True)

In [15]:
bool(""), bool(0), bool(None), bool([]) 
#값이 없으면 False

(False, False, False, False)

### ✓문제1 : 년도, 월, 일 추출

In [24]:

#작성 날짜 YYYYmmDD

dt = 20201022
y = dt // 10000
print(y)
m = dt % 10000 // 100
print(m)
d = dt % 100
print(d)


#나머지 -> 몫
#필요한 값의 한자리수 앞자리의 크기 만큼 나눠서 나머지 구함-> 그 나머지로 몫을 구함

2020
10
22

In [57]:
a = 100
a #출력 버퍼(전송전 임시 저장소) 저장
b = 200
b #출력 버퍼에 저장 ( 이전 버터 덮어씀) --> 따라서 강제 디스플레이 해야 이력이 남음

200

In [26]:
poem = "구름에 {달가듯} 가는 나그네" #범위 정하고 왼쪽 괄호 하면 자동으로 쌍 만들어짐
print(poem)

구름에 달가듯 가는 나그네

In [27]:
poem = "구름에 달가듯 가는 나그네
길은 외줄기
남도 삼백리"
print(poem)

#에러!

SyntaxError: EOL while scanning string literal (18111502.py, line 1)

In [28]:
#여러 줄 출력시 """ ~~~~ """
poem = """구름에 달가듯 가는 나그네
길은 외줄기
남도 삼백리"""
print(poem)

구름에 달가듯 가는 나그네
길은 외줄기
남도 삼백리

In [58]:
"""안녕
"""

a = 3

## - 2) 인덱싱과 슬라이싱

In [35]:


'python'[0]

'p'

In [39]:
'python'[-2:]

'on'

In [40]:

'python'[1:4]

'yth'

In [36]:

'python'[0:6:2]

'pto'

In [37]:
'python'[0::2]

'pto'

In [38]:
'python'[::-1]

'nohtyp'

### ✓문제1 : 인덱싱을 사용하여 성별을 나타내는 숫자 출력

In [41]:

'210101-1234567'[7]

'1'

### ✓문제2 : 슬라이싱하여 날짜는 date 변수에 날씨는 weather 변수에 저장 후 출력

In [47]:

date = '20210101Sunny'[:8]
print(date)
weather = '20210101Sunny'[8:]
print(weather)

20210101
Sunny

In [ ]:
# %s : 문자열, %d : 정수, %f : 부동소수

In [48]:
a = 100
name = "홍길동"
'x is %s' %a

'x is 100'

In [49]:
'%s is %s' %(name,a)

'홍길동 is 100'

In [53]:
pi = 3.141592
'pi=%6.2f' %pi

#6은 전체 자리수('.' 포함)
#.2f -> 해당 숫자 아래 자리에서 반올림

'pi=  3.14'