 # ☑️ 3월 3일 수업 : Python 기본 문법 강의

## ● 셀 종류

1) 코드

2) Text : 마크다운 → HTML 태크 축약형 ex) hello.md
    
## ●  웹

1) 장고

2) Flask(더 간단) : 요청주소 → 함수 (입력, 데이터, 출력)
    
---

## ● 마크다운

1) 제목 : # 하고 한 칸 띄우기 

2) 그냥 목록 : - 하고 한 칸 띄우기


ex)


### KB은행 AI 과정

- 파이썬
- 크롤링
- 빅데이터
- 머신러닝
- 딥러닝
- 챗봇
- 장고 프레임워크


3) 순서 목록 : 숫자. 하고 한 칸 띄우기

ex)

### 순서목록
1. 파이썬
2. 크롤링

4) 인용문자 : > 

> 안녕하세요

5) 코드블럭 : ```  ````

```
a=10
print(a)
```

6) 수평선 : 주제 변경 의미 ---, ***

7) 링크 : [Title](link), <>

ex)

[나의 블로그](https://velog.io/@takiwow1996)

<https://velog.io/@takiwow1996>

8) 강조 : **

*안녕*
**안녕**
***안녕***


9) 이미지 : 이미지 주소 복사
![음식](https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjAyMDFfNjIg%2FMDAxNjQzNzExNDY2NDky.cfuD9iiinQG2kY4SzXnCa1UU9kPNyFRWb_JAGtXIeVMg.hUf0B6SUmagRXxcWxCzlEw3x6uZT1q8fEmRoZEGrxCIg.JPEG.beet3740%2FIMG_2674.JPG&type=sc960_832)

## ● 문자열 포매팅

In [3]:
a = 100
name = '홍길동'

"%s는 %d" %(name,a)

'홍길동는 100'

In [5]:
"{}는 {}" .format(name, a)

'홍길동는 100'

In [8]:
"{1}는 {0}" .format(a, name)

'홍길동는 100'

In [7]:
"{name}는 {a}" .format(name = '홍길동', a= 100)

'홍길동는 100'

In [13]:
'{:3s}는 {:5d}' .format(name, a)

'홍길동는   100'

In [15]:
#f-string

name = "홍길동"
age = 27
f"{name}는 {age+age}"

'홍길동는 54'

## ● 함수

In [22]:
s = "홍길동"
s1 = "홍길동123"

print("길이", len(s))
print(s.isalpha(), s1.isalpha()) #알파벳으로만 이루어져 있는가
print(s.isalnum(), s1.isalnum()) #알파벳과 숫자로만 이루어져 있는가

길이 3
True False
True True

In [23]:
print("1의 위치", s.index("1"))

#ValueError 시에는 try except

ValueError: substring not found

In [20]:
a = ','
a.join('edef')

'e,d,e,f'

In [21]:
j = 'a:b:c:d'
j.split(':')

['a', 'b', 'c', 'd']

In [24]:
" 홍 길 동 ".strip()

'홍 길 동'

In [25]:
" 홍 길 동 ".replace(" ", "")

'홍길동'

In [39]:
s = "홍길동"
s + "300"

'홍길동300'

In [42]:
s - "300"
#문자열은 뺄셈 안 됨!!!, 덧셈은 됨!!!

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [44]:
s + 300
#s + 300 → 오류 : 문자열 + 숫자

TypeError: can only concatenate str (not "int") to str

In [45]:
s= "홍길동"
int(s)+300

ValueError: invalid literal for int() with base 10: '홍길동'

In [30]:
s = "1,300"
int(s.replace(",",""))+100

1400

In [49]:
a = 100
name = "홍길동"
print(a, name)
print(a, name, sep = "_")
print('a', 'b', 'c', sep = "_") #출력되는 value들 사이 분리기호
print(a, name, end = "1") #end 기본은 줄 바꿈 문자

100 홍길동
100_홍길동
a_b_c
100 홍길동1

In [53]:
#왼쪽 * 진행 중, 오른쪽 위에 동그라미
#숫자도 문자열로 인식
ans = input("태어난 연도를 입력하세요")
ans

태어난 연도를 입력하세요1996

'1996'

In [54]:
2022-int(ans)

26

In [55]:
2022-float(ans)

26.0

In [57]:
2022-float("11.2")

2010.8

In [56]:
2022-int("11.2")
#점 때문에 에러!
#개발자는 세심 꼼꼼!

ValueError: invalid literal for int() with base 10: '11.2'

In [ ]:
#리스트, 셋, 사전

## ● 자료 구조 및 함수

1) 시퀀스 타입 : 문자열, 리스트([]), 튜플(변경 불가능)
    
2) Set 타입 : 세트(set, {}) → 순서 X 중복 허용 X, 집합 연산 지원(합, 차, 교, 여집합)

3) 매핑 : 사전(dictionary) → Key와 Value 형태로 데이터 저장

In [65]:
mylist = []
mylist = list()

#JSON 표기법: Java Script Object Notaion

In [58]:
a = [1,2,3]
a.insert(0,4) #(위치,값)
a

[4, 1, 2, 3]

In [59]:
a[2]=4
a

[4, 1, 4, 3]

In [60]:
a[1:2] = ['c', 'd', 'e']
a
#슬라이싱으로하면 값만 잘 들어가지만

[4, 'c', 'd', 'e', 4, 3]

In [61]:
a[1] = ['c', 'd', 'e']
a
#인덱싱으로 하면 자체가 들어감

[4, ['c', 'd', 'e'], 'd', 'e', 4, 3]

In [63]:
mylist = [5,10,20,30,3]
mylist.sort() #정렬
print(mylist)

[3, 5, 10, 20, 30]

In [64]:
mylist.sort(reverse = True) #내림차순 <-> 기본값  : False 오름차순
print(mylist)

[30, 20, 10, 5, 3]

In [67]:
#pop(위치): (위치 안 적으면) 마지막 요소 반환 및 삭제
#remove(값) : 값과 일치하는 첫 번째 요소 삭제
#del

mylist = [30,20,10,5]
mylist.pop() #맨마지막값 반환, 삭제
print(mylist)

[30, 20, 10]

In [68]:
mylist = [30,20,10,5]
mylist.pop(0) #0번째 값 반환 및 삭제
print(mylist)

[20, 10, 5]

In [69]:
mylist = [30,20,10,5]
mylist.remove(10) #값 10 지워짐
print(mylist)

[30, 20, 5]

In [70]:
mylist = [30,20,10,5]
del mylist[1]
print(mylist) #1번째 20 지워짐

[30, 10, 5]

In [74]:
all_mem = ['김','나','박', '이', '홍']
all_mem.sort()
print(all_mem)

['김', '나', '박', '이', '홍']

In [76]:
print(all_mem.pop(1))
print(all_mem)

박
['김', '이', '홍']

In [77]:
전반기회원 = ["홍", "김", "이"]
후반기회원 = ["최", "강"]

전반기회원 + 후반기회원

['홍', '김', '이', '최', '강']

In [78]:
#확장1
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [79]:
#확장2
a = [10,20,30]
a = a+[100,200]
a

[10, 20, 30, 100, 200]

In [ ]:
#extend 와 append 차이
#append는 요소 하나씩 추가 (여러개 넣으면 에러, 한 개의 데이터로 묶기[,,])
#extend는 요소 여러개씩 추가

In [80]:
#뒤집기1
mylist = [1,3,5,4,2]
mylist.reverse() #코멘트(주석) 단축기 --> ctrl(command) + /, 여러줄도 가능
print(mylist)

[2, 4, 5, 3, 1]

In [83]:
#뒤집기2
mylist = [1,3,5,4,2]
mylist = mylist[::-1]
print(mylist)

[2, 4, 5, 3, 1]

In [87]:
회원목록 = "홍.김.이.박"
회원리스트 = 회원목록.split(".")
print(회원리스트, len(회원리스트))
print("-".join(회원리스트))
print("".join(회원리스트))

['홍', '김', '이', '박'] 4
홍-김-이-박
홍김이박

In [88]:
mylist #숫자리스트
"-".join(mylist) #숫자리스트를 문자열로 join하면 오류!!
#문자열간의 덧셈으로 하는 거임!
#숫자 + 문자 --> 오류!!! (숫자를 문자로 변환)

TypeError: sequence item 0: expected str instance, int found

In [ ]:
#채팅 c/s만 만들 수 있으면 모든 것을 만들 수 있음(멀티 쓰레드 등등)
#'파이썬의 신' 책 추천!(서버, 클라이언트 만드는 법)
#천기누설 파이썬 책 ; '부동산 데이터 분석' 책

### ✓ 튜플

- 튜플은 변경 불가능!! → 메모리 사용량이 더 적음

- 인덱싱, 슬라이싱 방법은 동일

- 요소 1개만 있는 튜플은 (1,) 이렇게 해야함 (1) 아님!

- 튜플은 데이터 전달용으로 사용

- 함수 반환타입으로 주로 사용됨

In [89]:
t1 = 1,3,5
type(t1)

tuple

In [90]:
t1 = (100) #이렇게 헷갈리는 게 시험에 나옴
type(t1)

int

In [91]:
t1 = (100,)
type(t1)

tuple

In [92]:
# t1.하고 tab 하면 count, index 함수 뿐 (수정 안 되기 떄문!)

t1[0] = 500

TypeError: 'tuple' object does not support item assignment

### ✓ Set

- 중복 X
- 순서 x → 인덱싱 & 슬라이싱 X
- 연산 : |, &, -

ex)

로또번호 저장

리스트 → 중복번호 저장(X)

세트 → 중복번호 배제(O) → 순서추출(X) → 리스트로 변환, 순서대로 추출

In [93]:
s1 = {1,3,5,3,1} #초기값을 가진 
print(s1)
print(type(s1))

{1, 3, 5}
<class 'set'>

In [94]:
s1 = {} #이렇게 하면 빈 사전(딕셔너리) 생성
s1.add(100)
s1.add(200)
s1.add(300)
print(s1)

AttributeError: 'dict' object has no attribute 'add'

In [95]:
s1 = set() #빈 사전 생성
s1.add(100)
s1.add(200)
s1.add(300)
print(s1)

#저장관리 자동으로 넣은 순서대로 나오지 않음
#넣은 순서대로 보여주고 싶으면 리스트 사용!
#set은 집합 연산 때문에 사용

{200, 100, 300}

In [97]:
전체회원 = {'홍', '김', '이', '박'}
출석회원 = {'이', '홍'}

"결석회원은", 전체회원 - 출석회원

('결석회원은', {'김', '박'})

In [98]:
출석회원[0]
#set은 순서를 지원하지 X 때문

TypeError: 'set' object is not subscriptable

In [99]:
list(출석회원)[0]

'이'

In [100]:
print("회원리스트", len(회원리스트))
print("s1", len(s1))

회원리스트 4
s1 3

### 💡문제1

a=[1,1,2,2,3,4,4,5,6,7,2] → [7, 6, 5, 4, 3, 2, 1]

In [128]:
a=[1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.sort(reverse = True)
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [129]:
a=[1,1,2,2,3,4,4,5,6,7,2]
a = list(set(a))
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1]

객체 : 할당받은 메모리 영역

자바언어 : 객체 new → 객체 생성

파이썬 : 모든 것이 객체, 자바보다 더 상위레벨 언어 (사람이 쓰기 편하다)

시험에 안 나옴 ㅎ

### ✓ 사전(딕셔너리)

- key 값은 변경 불가능한 객체, 숫자 가능
- dict 함수를 이용할 경우 key는 문자열만 가능 

  ex) dict(key = value, key = value)

In [133]:
a = {1:'b', '지역':'서울'}
a

{1: 'b', '지역': '서울'}

In [132]:
a = dict(m='b', 지역 = '서울')
a
#이렇게 할 때, key는 문자열만 가능

{'m': 'b', '지역': '서울'}

100 → 정수 리터럴

1.3 → 실수 리터럴

[1,3,5] → 리스트 리터럴

{1,3,5} → 세트 리터럴

{1:'a', 2:'b'} → 사전 리터럴

In [135]:
a = {'m':'b', '지역':'서울'}
a.get('지역')

'서울'

In [137]:
print(a.get('없나'))

None

In [140]:
a['지역'] = '인천' #key값 있으면 수정
a['이름'] = '홍길동' #key값 없으면 추가
a

{'m': 'b', '지역': '인천', '이름': '홍길동'}

In [142]:
a.update({'이름':'흥부', 'age':1000, '지역':'어디게?'}) #여러 개 추가 및 수정
a

{'m': 'b', '지역': '어디게?', '이름': '흥부', 'age': 1000}

In [143]:
#key : value 쌍 삭제
a.pop('지역')
a

{'m': 'b', '이름': '흥부', 'age': 1000}

In [144]:
del a['m']
a

{'이름': '흥부', 'age': 1000}

In [145]:
a.clear()
a

{}

In [146]:
a = {'m':'b', '지역':'서울'}
a.keys()

dict_keys(['m', '지역'])

In [147]:
a.values() #리스트형식이지만 리스트처럼 쓸 수 없음 → list() 변환 필요!

dict_values(['b', '서울'])

In [148]:
a.items()

dict_items([('m', 'b'), ('지역', '서울')])

In [152]:
#값이 딕셔너리에서 key로 있는지

'm' in a, '지역' in a

(True, True)

In [155]:
mylist = list('ABC')
mydict = dict.fromkeys(mylist, 0) #리스트값들을 key값으로!
mydict

{'A': 0, 'B': 0, 'C': 0}

### 💡문제1

A = {'a' : 90, 'B' : 80, 'C' : 70}

In [154]:
A = {'a' : 90, 'B' : 80, 'C' : 70}
print(A['B'])
A.pop('B')
print(A)

80
{'a': 90, 'C': 70}

### ✓ %매직명령어

%매직명령어 : 파이썬 명령어가 아님. 실행환경 서버가 제공해주는 명령어

%whos : 메모리에 존재하는 변수와 type 등을 보여줌, 내가 무슨 변수에 뭘 넣을지 볼 떄 씀

In [151]:
%whos

Variable   Type        Data/Info
--------------------------------
a          dict        n=2
age        int         27
all_mem    list        n=3
ans        str         1996
b          NoneType    None
bcd        NoneType    None
j          str         a:b:c:d
mylist     list        n=5
name       str         홍길동
s          str         홍길동
s1         set         {200, 100, 300}
t1         tuple       n=1
전반기회원      list        n=3
전체회원       set         {'김', '박', '이', '홍'}
출석회원       set         {'이', '홍'}
회원리스트      list        n=4
회원목록       str         홍.김.이.박
회원사전       dict        n=2
후반기회원      list        n=2

## ● 제어문

In [156]:
ans = input("태어난해를 4자리로 입력하세요")

#입력값이 숫자 아니면
if ans.isdecimal() : #숫자인지 확인
    print('숫자입니다')
    print(f"{2022 - int(ans)}살 입니다")
    
else :
    print("숫자 아닙니다")

태어난해를 4자리로 입력하세요1996
숫자입니다
26살 입니다

In [158]:
ans = input("태어난해를 4자리로 입력하세요")
age = 2022 - int(ans)

if age < 19 : #숫자인지 확인
    print("미성년자입니다")
elif 19 < age < 30 :    
    print("청년입니다")
else :
    print("나이가 많군요")

태어난해를 4자리로 입력하세요1996
청년입니다

In [159]:
#삼항연산자

ans = input("태어난해를 4자리로 입력하세요")
age = 2022 - int(ans)
print(f"{age}살입니다")
msg = "미성년입니다" if age < 19 else "청년입니다" if age < 35 else "나이가 많군요"
print(msg)

태어난해를 4자리로 입력하세요1996
26살입니다
청년입니다

### 💡문제1

In [163]:
score = int(input())

if 90 <= score :
    print('A')
elif 80 <= score :
    print('B')
elif 70 <= score :
    print('c')    
else  :
    print('D')

90
A